<div class="parallax wrapper">
  <div class="overlay">
    <div class="content">
      <div class="display-4 text-center">Boas vindas! Este é um blog musical colaborativo!</div>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid bege">
  <div class="container">
    <h1 class="display-4 text-center">
      Nasceu (literalmente)! Ouça "Smile", o #KP5!
    </h1>
    <div class="row w-100 mt-5 mb-5">
      <div class="col-md-4">
        <a href="https://www.deezer.com/en/album/168870302" class="btn btn-outline-secondary btn-block" target="_blank">
          Deezer
        </a>
      </div>
      <div class="col-md-4">
        <a href="https://open.spotify.com/album/38hfmutL8qSnflpigbMoLw" class="btn btn-outline-success btn-block" target="_blank">
          Spotify
        </a>
      </div>
      <div class="col-md-4">
        <a href="https://www.youtube.com/watch?v=aEb5gNsmGJ8&list=OLAK5uy_l_Af8WOISt5XSUihSPKUbsCh-VJjP9fPI" class="btn btn-outline-danger btn-block" target="_blank">
          YouTube
        </a>
      </div>
    </div>
  </div>
</div>


<div class="container">

  <div class="row p-5">
    <div class="col-md-12">
      <div class="card bg-transparent border-warning w-100">
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>
              Katy Perry lançou o primeiro álbum, “One Of The Boys”, em 2008 e o disco a fez ser uma das figuras definitivas da cultura mainstream e da música pop. Talvez um elemento decisivo pra isso ter acontecido é que ela escreveu esse primeiro disco querendo colocar muito sentimento pra fora, pegar um violão e fazer uma música honesta como sua heroína, Alanis Morissette, fez em “Jagged Little Pill” (1995). Dá muito pra sentir que essa intenção se mantém mais de uma década depois, já no quinto álbum.

              <br>
              <br>

              “Smile” talvez não tenha faixas que marquem uma geração, um feito que “Teenage Dream” conseguiu, mas tampouco dá a impressão de ter tido essa intenção. Ele é sobre honestidade e otimismo e nos molda dentro dessa proposta, entre as referências oitentistas do pop.

            </p>
            <footer class="blockquote-footer">
              Por Allan Tolentino, redator do 
              <cite title="Título da fonte">Papel Pop</cite>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>


<div class="row p-5">

  <div class="card-deck">
    <div class="card bg-transparent border-warning">
      <img class="card-img-top" src="https://media.giphy.com/media/gF8lQumlvUd2HadOJW/giphy.gif" alt="Imagem de capa do card">
      <div class="card-body">
        <p class="card-text"> "Yeah, I'm thankful, Scratch that, baby, I'm grateful, Gotta say it's really been a while, But now I got back that smile" </p>
      </div>
    </div>


    <div class="card bg-transparent border-warning">
      <img class="card-img-top" src="https://media.giphy.com/media/Ah3aXPO8dlZEGvrMCp/giphy.gif" alt="Imagem de capa do card">
      <div class="card-body">
        <p class="card-text"> "Thought we drew the line right through you and I, Can't keep going back, I guess it's never really over" </p>
      </div>
    </div>


    <div class="card bg-transparent border-warning">
      <img class="card-img-top" src="https://media.giphy.com/media/ckB8icHZBoxO5HG98O/giphy.gif" alt="Imagem de capa do card">
      <div class="card-body">
        <p class="card-text">"I'll be your baby on a Sunday, Oh why don't we get out of town, [...] Oh no no there's no slowing down"</p>
      </div>
    </div>
  </div>
</div>

<div class="row p-5">
  <div class="card mb-3 bg-transparent border-warning">
    <img class="card-img-top" src="https://i.imgur.com/nm75a2r.jpg" alt="Imagem de capa do card">
    <div class="card-body">
      <h5 class="card-title">Daisy Dove Bloom chegou ao mundo com propósito!</h5>


      <p class="card-text">Nesta quinta-feira (27), o perfil oficial da Unicef – instituição da qual Katy Perry e Orlando Bloom são embaixadores – anunciou o nascimento do primeiro bebê do casal. “Estamos flutuando de amor e admiração com a chegada segura e saudável da nossa filha”, afirmou a dupla, que ainda aproveitaram o momento para pedir doações à Unicef em homenagem ao nascimento: “Organizamos uma página de doação para celebrar a chegada de Daisy. Ao fazer uma doação você está apoiando um início de vida seguro e reimaginando um mundo com mais saúde”.</p>

    </div>
  </div>
</div>

</div>






<div class="row w-100 mt-5 mb-5">
  <div class="col-md-12 w-100 d-flex justify-content-center">
    <button
      class="btn btn-outline-warning text-uppercase font-weight-bold"
      routerLink="/feed"
    >
      Ver o feed
    </button>
  </div>
</div>

<div id="voltarTopo">
    <a href="#" id="subir" type="button" class="btn btn-outline-warning"> &#9650; </a>
</div>

