<div class="card bord-o" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://imgur.com/NqmgKFb.jpg" alt="Imagem de capa do card">
    </div>
    
    <div class="card-body">
      <h5 class="card-title text-center text-monospace"> {{nome}} </h5>
      <p class="card-text text-monospace text-center"> dev sandy&junior preso num laço de repetição infinito entre código, textão & memes</p>
      
      <a href="https://www.linkedin.com/in/matheuxmuller/" class="btn btn-outline-dark mb-3 d-flex justify-content-center" target="_blank"> 
      Linkedin</a>

      <a href="https://github.com/matheuxmuller" class="btn btn-outline-dark mb-3 d-flex justify-content-center" target="_blank">Github</a>

    </div>
  </div>